/*===================================================

				Global Styles

====================================================*/
body {
	background-color: #f6f6f6;
	color:#535353;
}

a {
	color:#7c7c7c;
	text-decoration: underline;
	cursor: pointer;
}

a:hover, a:active {
	color:#000;
}

@font-face {
	font-family: Proxy-Regular;
    src: url(../fonts/ProximaNova-Regular.ttf);
}

@font-face {
	font-family: Proxy-Light;
    src: url(../fonts/ProximaNova-Light.ttf);
}

@font-face {
	font-family: Proxy-SemiBold;
    src: url(../fonts/ProximaNova-Semibold.ttf);
}

/*Used for Flyout Menu*/
#card-container, #collections-container, #search-container {
	height:100vh;
}


/*===================================================

				Cards Styles

====================================================*/
.cards-header {
	height:60px;
	background-color:#475669;
	color:#fff;
}

.hamburger-menu-icon {
	margin:15px;
}

.header-logo {
	width:225px;
	margin-top:5px;
}

.cards-header-right span{
	margin:15px 20px;
}

.flyout-menu-container {
	background-color:#f6f6f6;
	height:100vh;
	font-family: 'Proxy-Light';
	font-size:20px;
}

.flyout-menu-item {
	padding:35px 20px;
	border-bottom:1px solid #e3e4e5;
}

/*dark overlay with animation*/
		.ng-pageslide-body-open::before {
		    content: '.';
		    display: block;
		    position: absolute;
		    top: 0;
		    background-color: rgb(0,0,0);
		    left: 0;
		    right: 0;
		    bottom: 0;
		    z-index: 1;
		    opacity: 0.25;
		    transition: opacity 1s;
		    pointer-events: all;
		}
		.ng-pageslide-body-closed::before {
		    transition: opacity 1s;
		    content: '.';
		    display: block;
		    position: absolute;
		    top: 0;
		    background-color: rgb(0,0,0);
		    left: 0;
		    right: 0;
		    bottom: 0;
		    z-index: 1;
		    opacity: 0;
		    pointer-events: none;
		}
/*dark overlay with animation*/

.count-message {
	margin:50px 0 0 25px;
	font-family: 'Proxy-Regular';
	font-size: 20px;
}

.btn-play {
	background-color:#475669;
	color:#fff;
	text-transform: uppercase;
	font-family: 'Proxy-Light';
	font-size:20px;
	margin:40px 20px 0 0;
}


/*=============================

		   Card Flip

===============================*/

.flip {
  -webkit-perspective: 800;
   height: 200px;
   position: relative;
   margin: 40px auto;
   padding:20px;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 250px;
  position: absolute;
  border:2px solid #9dbc3b;
  -webkit-backface-visibility: hidden;
  z-index: 2;
  font-family: 'Proxy-Light';
  font-size: 20px;
  color:#535353;
  text-align: center;
  background: #fff;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
  cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
  cursor: pointer;
}

.flip-cards-container {
	/*margin-top:40px;*/
}

.card-title, .card-title-back {
	margin:15px 0 0 0;
	padding-bottom:15px;
	border-bottom: 1px solid #e3e4e5;
}

.card-img img {
	height:150px;
	margin-top:15px;
}

.goto-front-arrow {
	color:#475669;
	margin-left:2px;
	font-size:23px;
}

.card-title-back-center {
	font-family: 'Proxy-Light';
	margin-top:2px;
	/*font-size:18px;*/
}

.card-title-back-right {
	padding-right:20px;
	font-size:16px;
	margin-top:2px;
}

.circle-counter {
	display: block;
	height:20px;
	width:20px;
	line-height: 20px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background-color:#475669;
	color:#fff;
	position: relative;
	left:-5px;
}

.folder-card-item-container {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	/*border:1px solid blue;*/
}

.folder-card-item {
	border-bottom:1px solid #e3e4e5;
	padding:5px 5px 10px 5px;
	margin:10px 0;
	color: #7c7c7c;
}

.card-item-name {
	margin-top:2px;
	font-family: 'Proxy-Regular';
	font-size:14px;
	text-decoration: underline;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.check-circle {
	color:#9dbc3a;
}
/*===================================================

				   Search Styles

====================================================*/
.search-input-container {
	margin-left:50px;
}

.search-input {
	height:35px;
	border:2px solid #9dbc3b;
	border-radius: 4px;
}

.form-control:focus {
	border:2px solid #9dbc3b;
	box-shadow: none;
}

.search-btn {
	font-family: 'Proxy-Regular';
	color:#fff;
	background-color: #475669;
}

.search-results {
	width:93%;
	margin:0 auto;
}

.selected-result-thumbnail {
	max-width:100%;
	max-height:100%;
	border:1px solid #7c7c7c;
	background-color: #fff
}

.selected-result-name {
	font-family: 'Proxy-SemiBold';
	font-size:18px;
}

.search-item-icon, .edit-item-icon, .delete-item-icon {
	color:#565656;
	padding-right:25px;
	float:left;
}

.selected-item-collection-controls {
	font-family: 'Proxy-SemiBold';
	font-size:18px;
	margin-top:10px;
	color:#7c7c7c;
}

.add-selected-item-to-collection-text {
	margin-top:10px;
}

.selected-item-location {
	margin:30px 0;
	padding-top:20px;
	border-top:1px solid #bbb;
}

.selected-item-location-title {
	font-family: 'Proxy-SemiBold';
}

.search-result-message {
	font-family: 'Proxy-Regular';
	font-size:18px;
}

.table>tbody>tr>th {
	border-top:none;
}

.table thead > tr > th {
	border-bottom:2px solid #989898;
}

.table tbody > tr > td {
	font-family: 'Proxy-Regular';
	font-size:14px;
	color:#7c7c7c;
}

.search-results-table {
	margin-top:15px;
}

.search-results-table th{
	font-family: 'Proxy-SemiBold';
	font-size:18px;
}

.search-results-table-item-icon {
	width:15px;
	float:left;
	color:#535353;
}

.search-results-table-item-name {
	text-decoration: underline;
	margin-left:20px;
}

.isActiveResult {
	background-color:#E0E2DD;
}

.search-results-blank {
	width:93%;
	margin:0 auto;
}

.no-results-message {
	color:#d96d00;
	background-color:#f5e4d1;
	border-color:#eccba7;
}

.no-results-message h4 {
	font-family: 'Proxy-Light';
}

.no-results-message span {
	font-family: 'Proxy-Regular';
}

.page-error-warning {
	background-color:#F5E4D1;
	color:#d96d00;
}

.page-error-warning-label {
	float:right;
	font-family: 'Proxy-SemiBold';
	font-size:20px;
	margin-left:10px;
	font-weight: 700;
	line-height: 26px;
}

/*===================================================

				Collections Styles

====================================================*/
.back-button {
	padding:30px 20px;
}

.back-button-label {
	font-family: 'Proxy-Light';
	font-size:30px;
}

.table tbody > tr > td.collection-table-details {
	padding:15px 0;
	font-size: 18px;
}

.featured-collection-container {
	width:93%;
	margin:0 auto;
}

.arrows-v {
	margin-left:20px;
}

.collection-item-thumbnail {
	max-width: 50px;
	max-height: 50px;
	vertical-align: middle;
}

.selected-collection-table  {
	font-family: 'Proxy-SemiBold';
	font-size:24px;
}

.collection-list-container {
	width: 95%;
    margin: 25px auto;
}

.collection-item {
	padding: 25px 25px 0 25px;
}


/*===================================================

				Modal(s) Styles

====================================================*/
.modal-header {
	padding:15px;
}

.modal-header h4 {
	font-family: 'Proxy-Light';
	font-size:24px;
}

.modal-body-share-item {
	padding-bottom: 50px;
}

.modal-input {
	width:95%;
	margin:0 auto;
}

.form-group-collection-modal {
	margin:15px 0 30px 0;
}

.input-collection-title {
	border:2px solid #bbb;
	border-radius: 4px;
}

.btn-collection-title {
	background-color:#ccc;
}

.input-share-link {
	height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    border:2px solid #ccc;
    margin-bottom: 30px
}

input.input-share-link.form-control:focus {
	border:2px solid #ccc;
}

.btn-done {
	background-color:#7c7c7c;
	color:#fff;
	border-bottom: 2px solid #494949;
	font-size:14px;
	font-family: 'Proxy-Regular';
}

.btn-share-item {
	background-color:#ccc;
	font-size: 23px;
}

.modal-alert {
	margin-bottom: 0;
}

.modal-delete-collection-message {
	padding-top:10px;
	font-family: 'Proxy-SemiBold';
	font-size:14px;
	font-weight: 700;
}
/*===================================================================================


								Media(fly) Queries


====================================================================================*/
@media(max-width:767px){}

@media(min-width:768px){
	.card-title-back-center {
		font-size:16px;
	}

	.folder-card-item-container {
		height:188px;
		/*border:1px solid red;*/
	}	
}

@media(min-width:992px){
	.folder-card-item-container {
		height:188px;
	}

	.card-item-name {
		width:170px;
	}

	.card-title-back-center {
		font-size:18px;
	}
}

@media(min-width:1200px){
	.card-item-name {
		width:225px;
		/*border:1px solid red;*/
	}
}



