/*===================================================

				Global Styles

====================================================*/
html, body {
	background-color: #f6f6f6;
	height:100%;
}

.ui-view-container {
	height:100%;
}

a {
	color:#7c7c7c;
	text-decoration: underline;
	cursor: pointer;
}

iframe:focus { 
    outline: none;
}

iframe[seamless] { 
    display: block;
}

.btn {
	font-family: 'Proxy-Regular';
}

a:hover, a:active {
	color:#000;
}

@font-face {
	font-family: Proxy-Regular;
    src: url(../fonts/ProximaNova-Regular.ttf);
}

@font-face {
	font-family: Proxy-Light;
    src: url(../fonts/ProximaNova-Light.ttf);
}

@font-face {
	font-family: Proxy-SemiBold;
    src: url(../fonts/ProximaNova-Semibold.ttf);
}

/*Used for Flyout Menu*/
.nav-fixed {
	position: fixed;
	width:100%;
	z-index: 1000;
}

#collections-container, #search-container {
	height:100vh;
	top:60px; /*offset fixed nav bar*/
}

.brand-centered {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.brand-centered .navbar-brand {
  display: flex;
  align-items: center;
}

/*===================================================

				Cards Styles

====================================================*/
/*Toolbar*/
.background-moonshot {
	background-color:#475669;
}

.toolbar-logo {
	width:200px;
}

/*Side Nav*/
.background-green {
	background-color:#9dbc3b;
}

.cards-top-container {
	margin-top:25px;
	padding:0 10px 0 10px;
}

.cards-header-right span{
	margin:15px 20px;
}

.flyout-menu-container {
	background-color:#f6f6f6;
	height:100vh;
	font-family: 'Proxy-Light';
	font-size:20px;
}

.menu-item, .menu-item:hover, .menu-item:active {
	text-decoration: none;
}

.flyout-menu-item {
	padding:35px 20px;
	border-bottom:1px solid #e3e4e5;
}

.count-message {
	font-family: 'Proxy-Regular';
	font-size: 24px;
}

.btn-play {
	background-color:#475669;
	color:#fff;
	text-transform: uppercase;
	font-family: 'Proxy-SemiBold';
	font-size:20px;
	margin:40px 20px 0 0;
}

/*=============================

		   Card Flip

===============================*/

.flip {
  -webkit-perspective: 800;
   height: 200px;
   position: relative;
   margin: 40px auto;
   padding:20px;
   top:-20px;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 250px;
  position: absolute;
  border:2px solid #9dbc3b;
  -webkit-backface-visibility: hidden;
  z-index: 2;
  font-family: 'Proxy-Light';
  font-size: 20px;
  color:#535353;
  text-align: center;
  background: #fff;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
  cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
  cursor: pointer;
}

.card-title, .card-title-back {
	margin:15px 0 0 0;
	padding-bottom:15px;
	border-bottom: 1px solid #e3e4e5;
}

.card-img img {
	height:150px;
	margin-top:15px;
}

.goto-front-arrow {
	color:#475669;
	margin-left:2px;
	font-size:23px;
}

.card-title-back-center {
	font-family: 'Proxy-Light';
	margin-top:2px;
	/*font-size:18px;*/
}

.card-title-back-right {
	padding-right:20px;
	font-size:16px;
	margin-top:2px;
}

.circle-counter {
	display: block;
	height:20px;
	width:20px;
	line-height: 20px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background-color:#475669;
	color:#fff;
	position: relative;
	left:-5px;
}

.folder-card-item-container {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	/*border:1px solid blue;*/
}

.folder-card-item {
	border-bottom:1px solid #e3e4e5;
	padding:5px 5px 10px 5px;
	margin:10px 0;
	color: #7c7c7c;
}

.card-item-name {
	margin-top:2px;
	font-family: 'Proxy-Regular';
	font-size:14px;
	text-decoration: underline;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.check-circle {
	color:#9dbc3a;
}
/*===================================================

				   Search Styles

====================================================*/
.search-input-container {
	margin-left:50px;
}

.search-input {
	height:35px;
	border:2px solid #9dbc3b;
	border-radius: 4px;
}

.form-control:focus {
	border:2px solid #9dbc3b;
	box-shadow: none;
}

.search-btn {
	font-family: 'Proxy-Regular';
	color:#fff;
	background-color: #475669;
}

.search-results {
	width:93%;
	margin:0 auto;
}

.selected-result-thumbnail {
	max-width:100%;
	max-height:100%;
	border:1px solid #7c7c7c;
	background-color: #fff
}

.selected-result-name {
	font-family: 'Proxy-SemiBold';
	font-size:18px;
}

.selected-item-collection-controls {
	font-family: 'Proxy-SemiBold';
	font-size:18px;
	margin-top:25px;
	color:#7c7c7c;
}

.selected-item-collection-controls div {
	margin-top:10px;
}

.search-item-icon, .edit-item-icon, .delete-item-icon {
	color:#565656;
	padding-right:10px;
}


.add-selected-item-to-collection-text {
	margin-top:10px;
}

.selected-item-location {
	margin:30px 0;
	padding-top:20px;
	border-top:1px solid #bbb;
}

.selected-item-location-title {
	font-family: 'Proxy-SemiBold';
}

.search-result-message {
	font-family: 'Proxy-Regular';
	font-size:18px;
}

.table>tbody>tr>th {
	border-top:none;
}

.table thead > tr > th {
	border-bottom:2px solid #989898;
}

.table tbody > tr > td {
	font-family: 'Proxy-Regular';
	font-size:14px;
	color:#7c7c7c;
}

.search-results-table {
	margin-top:15px;
}

.search-results-table th{
	font-family: 'Proxy-SemiBold';
	font-size:18px;
}

.search-results-table-item-name {
	text-decoration: underline;
	margin-left:20px;
}

.isActiveResult {
	background-color:#E0E2DD;
}

.search-results-blank {
	width:93%;
	margin:0 auto;
}

.no-results-message {
	color:#d96d00;
	background-color:#f5e4d1;
	border-color:#eccba7;
}

.no-results-message h4 {
	font-family: 'Proxy-Light';
}

.no-results-message span {
	font-family: 'Proxy-Regular';
}

.page-error-warning {
	background-color:#F5E4D1;
	color:#d96d00;
}

.page-error-warning-label {
	float:right;
	font-family: 'Proxy-SemiBold';
	font-size:20px;
	margin-left:10px;
	font-weight: 700;
	line-height: 26px;
}

/*===================================================

				Collection List Styles

====================================================*/
.btn-new-collection {
	background-color:#7c7c7c;
	font-family: 'Proxy-Regular';
	font-size:18px;
	color:#fff;
	margin-top:30px;
	border-bottom:2px solid #666;
}

.btn-new-collection:active, .btn-new-collection:hover {
	color:#fff;
}

.back-button {
	padding:30px 20px;
}

.back-button-label {
	font-family: 'Proxy-Light';
	font-size:30px;
}

.table tbody > tr > td.collection-table-details {
	padding:15px 8px;
	font-size: 18px;
}

.table tbody > tr > td.collection-table-details:first-of-type {
	padding-left:0px;
}

.featured-collection-container {
	width:93%;
	margin:0 auto;
}

.selected-collection-table-actions {
	float:left;
}

.remove-item-from-collection {
	float:right;
	margin-left:5px;
	text-decoration: underline;
}

.arrows-v {
	margin-left:20px;
	cursor:move;
}

.collection-item-thumbnail {
	max-width: 50px;
	max-height: 50px;
	vertical-align: middle;
}

.collection-list-container {
	width: 95%;
    margin: 25px auto;
}

.collection-item {
	padding: 25px 25px 0 25px;
}

.table tbody > tr > td.table-row-collection-item {
	padding:10px;
	font-size:16px;
}

.collection-icon {
	font-size:24px;
	padding-right: 10px;
	color:#bbb;
}

.collection-name {
	font-family: 'Proxy-Light';
	font-size:24px;
}

/*===================================================

				Collection Detail Styles

====================================================*/
.nav-tabs>li.active>a, .nav-tabs>li>a{
	margin-top:15px;
	font-family: 'Proxy-SemiBold';
	font-size:18px;
	text-decoration: none;
}

.nav-tabs {
	border-bottom: 3px solid #e0e2dd;
}

.nav-tabs>li>a {
	color:#7c7c7c;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:visited {
	color:#fff;
	background-color:#7c7c7c;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.selected-collection-table  {
	font-family: 'Proxy-SemiBold';
	font-size:18px;
	margin-top:10px;
}

.search-results-table-item-thumbnail img {
	width:50px;
	height:50px;
	float:left;
	color:#535353;
}

.selected-collection-hierarchy {
	margin:10px 0 0 80px;
}

.selected-collection-hierarchy a {
	text-decoration: none;
	font-style: italic;
	border-radius: 6px;
	padding:5px;
	transition: all .4s;
}

.selected-collection-hierarchy a:hover {
    background-color: #ddd;
}

.collection-details-editing-container, .alert-no-items  {
	margin-top:25px;
}

.collection-date {
	font-style: italic;
	color:#7c7c7c;
	font-family: 'Proxy-Regular';
}

.content-flat {
	margin-top: 20px;
	padding: 10px;
	background-color:#fff;
	font-size:16px;
}

.play-alert-info {
	margin-top: 10px;
	font-family: 'Proxy-Regular';
	font-size: 16px;
}

/*===================================================

			Presentation Styles

====================================================*/
.flexbox {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.flexbox > * {
	flex: 0 0 auto;
}

.presentation-header-container {
	height:60px;
	background-color:#475669;
	color:#fff;
}

.presentation-container {
    flex: 1 1 auto;
    position: relative;
}

.presentation-container img, .presentation-container iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
}

.interactive-frame {
	height:100%;
	width:100%;
}

.presentation-footer-container {
	height:25px;
	color:#535353;
	font-family: 'Proxy-Regular';
}


.presentation-header {
    -webkit-box-shadow: 0 3px 5px rgba(25,25,25,.75);
    -moz-box-shadow: 0 3px 5px rgba(25,25,25,.75);
    box-shadow: 0 3px 5px rgba(25,25,25,.75);
    z-index: 1000;
    background-color:#475669;
}

.navbar-text {
	margin-top:9px;
	margin-bottom: 0;
}

.presentation-header-icons {
	padding-right:25px;
}

.dropdown-menu-slides {
	width:350px;
	max-height: 500px;
	overflow-y:auto;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	border: 1px solid #bbb;
	padding: 10px 0;
}

.dropdown-menu>li>a {
	text-decoration: none;
	padding: 5px 20px 4px 25px;
	font-family: 'Proxy-Light';
	font-size:16px;
}

.navbar-nav>li>a {
    color: #fff;
    font-size:20px;
    line-height: 30px;
}

.nav>li>a:hover {
	background-color: #3e4b5d;
}

.btn-presentation {
	background-color: #475669;
	border:2px solid #fff;
	color:#fff;
	font-family: 'Proxy-Regular';
	font-size:16px;
	margin-top:-10px;
}

.btn-presentation:hover, .btn-presentation:active, .btn-presentation:focus {
	color:#fff;
}

.current-slide-name {
	color:#535353;
	font-family: 'Proxy-Light';
	margin-left:15px;
}

.presentation-arrows {
	margin-top:-5px;
}

.slide-item.ng-enter {
    animation-name: slideFromRight;
    -webkit-animation-name: slideFromRight;
}

.slide-item.moveToLeft.ng-enter {
    animation-name: slideFromLeft;
    -webkit-animation-name: slideFromLeft;
}

.slide-item.ng-leave {
    animation-name: slideFromLeft;
    animation-direction: reverse;
    -webkit-animation-name: slideFromLeft;
    -webkit-animation-direction: reverse;
}

.slide-item.moveToLeft.ng-leave {
    animation-name: slideFromRight;
    animation-direction: reverse;
    -webkit-animation-name: slideFromRight;
    -webkit-animation-direction: reverse;
}

@keyframes slideFromRight {
    0% {left: 100%;}
    100% {left:50%;}
}

@keyframes slideFromLeft {
    0% {left: 0%;}
    100% {left: 50%;}
}


/*===================================================

				Modal(s) Styles

====================================================*/
.modal-header {
	padding:15px;
}

.modal-header h4 {
	font-family: 'Proxy-Light';
	font-size:24px;
}

.modal-body-share-item {
	padding-bottom: 50px;
}

.modal-input {
	width:95%;
	margin:0 auto;
}

.form-group-collection-modal {
	margin:15px 0 30px 0;
}

.input-collection-title {
	border:2px solid #bbb;
	border-radius: 4px;
}

.btn-collection-title {
	background-color:#ccc;
}

.input-share-link {
	height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    border:2px solid #ccc;
    margin-bottom: 30px
}

input.input-share-link.form-control:focus {
	border:2px solid #ccc;
}

.btn-done, .btn-create {
	background-color:#7c7c7c;
	color:#fff;
	border-bottom: 2px solid #494949;
	font-size:14px;
	font-family: 'Proxy-Regular';
}

.btn-share-item {
	background-color:#ccc;
	font-size: 23px;
}

.modal-alert {
	margin-bottom: 0;
}

.modal-delete-collection-message {
	padding-top:10px;
	font-family: 'Proxy-SemiBold';
	font-size:14px;
	font-weight: 700;
}

.collection-edit-actions {
	margin-top:20px;
}

.btn-cancel {
	background-color: #ccc;
}
/*===================================================================================


								Media(fly) Queries


====================================================================================*/
@media(max-width:767px){}

@media(min-width:768px){
	.card-title-back-center {
		font-size:16px;
	}

	.folder-card-item-container {
		height:188px;
		/*border:1px solid red;*/
	}	
}

@media(min-width:992px){
	.folder-card-item-container {
		height:188px;
	}

	.card-item-name {
		width:170px;
	}

	.card-title-back-center {
		font-size:18px;
	}
}

@media(min-width:1200px){
	.card-item-name {
		width:225px;
		/*border:1px solid red;*/
	}
}