<md-dialog flex="50">
	<md-dialog-content>
	
		<md-toolbar class="background-green">
	      <div class="md-toolbar-tools">
	        <h2 ng-cloak>Share Link for '{{ shareLinkName }}'</h2>
	        <span flex></span>
	      </div>
	    </md-toolbar>


		<section layout="column" layout-align="center center" layout-padding>
		    <div flex>
				<md-button class="md-fab share-item" aria-label="Copy Share Link" ngclipboard data-clipboard-text="{{ shareLink }}" ng-click="showSimpleToast()">
					<md-icon>link</md-icon>
				</md-button>
				<div class="copy-link-text">Copy Link</div>
			</div>
		    
		</section>

		<md-divider></md-divider>

		<md-dialog-actions layout="row">
			<md-button ng-click="closeDialog()">Cancel</md-button>
		</md-dialog-actions>

	</md-dialog-content>
</md-dialog>
