<md-dialog flex="50">
	<md-dialog-content>
	
		<md-toolbar class="background-green">
	      <div class="md-toolbar-tools">
	        <h2>Delete Confirmation</h2>
	        <span flex></span>
	      </div>
	    </md-toolbar>

		<section layout="row" layout-margin>

			<div flex flex-offset="5" class="modal-delete-collection-message">
				Are you sure you want to permanently delete this collection?
			</div>

		</section>

		<md-divider></md-divider>

		<md-dialog-actions layout="row">
			<md-button ng-click="deleteCollection()">Delete</md-button>
			<md-button ng-click="closeDialog()">Cancel</md-button>
		</md-dialog-actions>

	</md-dialog-content>
</md-dialog>