<md-dialog flex="50">
	<md-dialog-content>
	
		<md-toolbar>
	      <div class="md-toolbar-tools background-green">
	        <h2>Delete Confirmation</h2>
	        <span flex></span>
	      </div>
	    </md-toolbar>

		<div class="modal-body">

			<p class="modal-delete-collection-message">
				Are you sure you want to permanently delete this collection?
			</p>

		</div>

		<md-divider></md-divider>

		<md-dialog-actions layout="row">
			<md-button ng-click="deleteCollection()">Delete</md-button>
			<md-button ng-click="closeDialog()">Cancel</md-button>
		</md-dialog-actions>

	</md-dialog-content>
</md-dialog>