<top-toolbar></top-toolbar>

<section layout="row" flex layout-fill>

	<sidebar-menu></sidebar-menu>

	<!-- START: CONTENT -->
	<md-content flex layout="column">
			<!-- PRESENT & COLLECTIONS -->
			<div layout="row">
				<div flex="50">
					<dash-present></dash-present>  
			    </div>

				<div flex="50">
		  		 	<dash-collections></dash-collections>
			    </div>
			</div>

			<!-- HIERARCHY -->
			<div layout="row">
				<div flex>
	       			<dash-folders></dash-folders>
		    	</div>
		    </div>

			<!-- RECOMMENDED -->
			<div flex layout="row">
				<div flex>
					<dash-recommended></dash-recommended>
			    </div>
			</div>

	</md-content>
	
</section>
