<md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Recomended</span>
        <span class="md-subhead">Recently created content you uploaded.</span>
      </md-card-title-text>
    </md-card-title>

	<md-card-content layout="row" layout-wrap>

        <!-- FOLDERS GO HERE -->
        <div flex="25" class="timeline-folder-container" ng-repeat="item in suggestions | limitTo:8">
            <md-card>
		       	
		       	<div class="md-card-image-container">
		        	<img ng-src="{{item.thumbnailUrl}}" class="md-card-image">
		       	</div>

		        <md-card-title>
		          <md-card-title-text class="dashboard-recommended-title-container">
		            	<span class="md-headline dashboard-recommended-title">{{item.name}}</span>
		          </md-card-title-text>
		        </md-card-title>

		        <md-divider></md-divider>

		        <md-card-footer class="dashboard-recommended-footer" layout="row" layout-align="end center">
					<md-icon flex class="recommended-icon">{{item.icon}}</md-icon>
					<md-menu>
			        <!-- 	<md-button class="dashboard-hierarchy-footer-button" ng-click="$mdOpenMenu($event)"> -->
			        		<md-icon flex class="main-toolbar-icons dashboard-hierarchy-footer-icon" ng-click="$mdOpenMenu($event)">more_vert</md-icon>
			        	<!-- </md-button> -->

			        		<!-- ITEM MENU -->
			        		<md-menu-content width="2" ng-show="f.type !== 'folder'">
				            	<md-menu-item>
					              	<md-button ng-click="openCollectionModal(f, $event)">
					                	<md-icon>add</md-icon>
					                	Add
					                </md-button>
				                </md-menu-item>
				            	<md-menu-item>
					              	<md-button ng-click="openShareModal(f, $event)">
					                	<md-icon>share</md-icon>
					                	Share
					                </md-button>
				                </md-menu-item>
				            	<md-menu-item>
					              	<md-button ng-click="goToPath(f)">
					                	<md-icon>open_in_new</md-icon>
					                	Open
					                </md-button>
				                </md-menu-item>
			          		</md-menu-content>
			         </md-menu>

		        </md-card-footer>

		    </md-card>
	    </div>

  	</md-card-content>

</md-card>