<md-dialog flex="75">
	<md-dialog-content>
	
		<md-toolbar class="background-green">
	      <div class="md-toolbar-tools">
	        <h2>Upload to My Items</h2>
	        <span flex></span>
	      </div>
	    </md-toolbar>

		<!-- LOADING SPINNER -->
		<section layout="row" layout-padding ng-show='isUploadingItem'>
			<div flex-offset="5" flex="90">
				<md-progress-linear class="upload-item-progress" md-mode="indeterminate"></md-progress-linear>
			</div>
		</section>

		<!-- PASSWORD INPUT -->
	    <section layout="row" layout-padding ng-show="showPasswordInput">
			<div flex="5"></div>
			<div flex="95">
				<label>Please enter your SalesKit password.</label>

			    <md-input-container flex="40" md-no-float class="md-block">
			      <input ng-model="accountPassword" type="password" placeholder="Enter password" my-enter="uploadItems(accountPassword)">
			    </md-input-container>
			</div>
		</section>

		<!-- ERROR MESSAGE -->
		<section layout="row" layout-padding ng-show="isPasswordWrong">
			<md-subheader flex-offset="10" flex="90" class="md-subheader error-message">
				The password you provided is incorrect.
			</md-subheader>
		</section>
	

		<!-- UPLOAD ITEMS TABLE -->
		<section layout="row" layout-padding>
			<md-table-container flex="90" flex-offset="5" class="md-whiteframe-2dp">
				<table md-table>
				    <thead md-head>
				      <tr md-row>
				        <th class="item-upload-table" md-column><span>Thumbnail</span></th>
				        <th class="item-upload-table" md-column><span>Name</span></th>
				        <th class="item-upload-table" md-column md-numeric>Size</th>
				      </tr>
				    </thead>
				    <tbody md-body>
				      <tr md-row md-auto-select ng-repeat="file in files">
				        <td md-cell class="table-collection-name"><img src="{{file.imgSrc}}" style="height:50px"></td>
				        <td md-cell class="table-collection-action">{{file.name}}</td>
				        <td md-cell class="table-collection-action">{{file.size / 1024 | number:2}} kB</td>
				      </tr>
				    </tbody>
				</table>
			</md-table-container>
		</section>

		<md-divider></md-divider>

		<md-dialog-actions layout="row">
			<md-button ng-click="uploadItems(accountPassword)">Upload</md-button>
			<md-button ng-click="closeDialog()">Cancel</md-button>
		</md-dialog-actions>

	</md-dialog-content>
</md-dialog>
