<div layout="row" class="search-tab-background" layout-padding>
	<div flex="5"></div>
<!-- START: ITEM LIST VIEW -->
	<div flex="50">
		<md-chips>
	      <md-chip ng-click="getSearchType('all', 'firstChipAll')" 
	      		   ng-class="{'selectedChip': selectedChipIndex==='firstChipAll'}">
	      	All
	      </md-chip>
	      <md-chip ng-repeat="chip in results | unique:'type'" 
	      		   ng-class="{'selectedChip': selectedChipIndex===$index}"
	      		   ng-click="getSearchType(chip.type, $index)"
	      		   ng-if="chip.type !== 'folder'">{{chip.type}}</md-chip>
	    </md-chips>	
	
		<md-content>
			<md-list-item class="md-2-line margin-5 md-whiteframe-1dp" 
						  ng-class="{selectedIndex: selectedIndex===$index}"
						  ng-repeat="item in results | filter:searchType" 
						  ng-click="selectItem(item, $index)"
						  ng-if="item.type !== 'folder'">
          		<img ng-src="{{item.thumbnailUrl}}" class="md-avatar search-avatar" alt="{{item.name}}" />
	          	<div class="md-list-item-text" layout="column">
	            	<h3>{{ item.name }}</h3>
	            	<h4><span class="selected-item-location-path" ng-repeat="item in item.hierarchy"><u ng-click="goToPath(item)">{{ item.name }}</u> {{$last ? '' : ' / '}} </span></h4>
	            	<!-- <p>Created: {{item.created | date:'shortDate'}}</p> -->
	          </div>
	        </md-list-item>
		</md-content>
	</div>

<!-- START: SELECTED ITEM -->
	<md-card flex="35" class="selected-item-result">
        

		<md-card-content layout="row" layout-align="space-between">

        	<img src="{{selectedResult.thumbnailUrl}}" class="md-media-xl card-media md-whiteframe-5dp selected-item-image" alt="Washed Out">

        </md-card-content>
 
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{selectedResult.name}}</span>
	          <p class="margin-top-10">
	            <b>Created:</b> {{selectedResult.created | date:'shortDate'}}
	          </p>
	          <p ng-if="selectedResult.type == 'pdf'">
	          	<b>Pages:</b> {{ selectedResult.pages }}
	          </p>
	        <md-card-actions layout="row" layout-align="end center">
		        <md-button class="md-icon-button" ng-show="showFolderIcon" aria-label="Collections" ng-click="openCollectionModal(selectedResult, $event)"></>
		            <ng-md-icon icon="view_list"></ng-md-icon>
		        </md-button>
		        <md-button class="md-icon-button" ng-show="showFolderIcon" aria-label="Share" ng-click="openShareModal(selectedResult, $event)">
		            <ng-md-icon icon="share"></ng-md-icon>
		        </md-button>
		        <md-button class="md-icon-button" aria-label="Open Item" ng-click="goToPath(selectedResult)">
		            <ng-md-icon icon="open_in_new"></ng-md-icon>
		        </md-button>
        	</md-card-actions>
          </md-card-title-text>
        </md-card-title>
    </md-card>
</div>