<header class="row cards-header">
	<div class="col-sm-4">
		<span class="fa fa-bars fa-2x hamburger-menu-icon" ng-click="toggle()"></span>
	</div>
	<div class="col-sm-4">
		<img class="img-responsive center-block header-logo" src="common/img/moonshot-logo.png">
	</div>
	<div class="col-sm-4">
		<div class="cards-header-right pull-right">
			<span class="fa fa-search fa-2x" ng-click="goToSearch()"></span>
			<span class="fa fa-circle-thin fa-2x"></span>
		</div>
	</div>
</header>

<main id="card-container">
	<pageslide ps-side="left" 
			   ps-open="openMenu" 
			   ps-container="card-container" 
			   ps-body-class="true">
        
        <div class="flyout-menu-container">
            <div class="flyout-menu-item" ng-click="goToCollections()">
            	<span>Collections</span>
            </div>
            <div class="flyout-menu-item" ng-click="quitMoonshot()">
            	<span>Quit Moonshot</span>
            </div>
        </div>

    </pageslide>

    <div class="row">
    	<div class="col-xs-9">
    		<div class="count-message">{{itemsSelectedCount()}} total items selected.</div>
    	</div>
    	<div class="col-xs-3">
    		<button class="btn btn-play pull-right">
    			<span class="fa fa-play-circle"></span> Play
    		</button>
    	</div>
    </div>

    <div class="row flip-cards-container">

		<div class="col-sm-4 flip-card" ng-repeat="c in cards">
		    <div class="flip"> 
		        <div class="card" ng-class="{'flipped':isFlipped}"> 
		            
		            <!-- BEGIN: FRONT CARD -->
		            <div class="face front" ng-click="isFlipped=!isFlipped; getFolderItems(c.id)"> 
		                <div class="card-title">{{ c.name }}</div>
		                <div class="card-img">
							<img ng-src="{{c.thumbnailUrl}}">
		                </div>
		            </div> 

					<!-- BEGIN: BACK CARD -->
		            <div class="face back"> 
		                <div class="row card-title-back">
							
							<div class="col-xs-2 card-title-back-left">
								<span class="fa fa-arrow-circle-o-left goto-front-arrow" ng-click="isFlipped=!isFlipped"></span>
							</div>
							
							<div class="col-xs-8 card-title-back-center">
								{{ c.name }}
							</div>

							<div class="col-xs-2 card-title-back-right">
								<span class="circle-counter">{{itemsSelectedCount()}}</span>
							</div>

		                </div>

		                <div class="folder-card-item-container">
		                	<div class="row folder-card-item" ng-repeat="item in items">
		                		<div class="col-xs-2">
		                			<span class="fa {{item.icon}} card-item-icon"></span>
		                		</div>
		                		<div class="col-xs-8">
		                			<div class="card-item-name text-left" ng-click="viewCardItem(item.id)">{{item.name}}</div>
		                		</div>
		                		<div class="col-xs-2">
									<span class="fa fa-circle" 
										  ng-class="item.isItemSelected ? 'fa fa-check-circle check-circle' : 'fa fa-circle'"
										  ng-click="item.isItemSelected = !item.isItemSelected"></span>
		                		</div>
		                	</div>
		                </div>
		            </div> 
		        </div> 
		    </div> 
		</div>


    </div>
</main>
