<top-toolbar></top-toolbar>

<section layout="row" flex layout-fill>

	<sidebar-menu></sidebar-menu>

	<md-content flex layout="column">
		<!-- SORT SELECTED SLIDES -->
		<md-sidenav class="md-sidenav-right sort-slides-list" md-component-id="right" md-whiteframe="4">

		  	<md-toolbar class="background-gray">
		    	<h1 class="md-toolbar-tools">Sort Slides</h1>
		  	</md-toolbar>

		    <md-content layout-margin>
		        <md-list flex ui-sortable="sortableOptions" ng-model="sortList">
			        <md-list-item class="md-2-line" ng-repeat="item in sortList">
			          <img ng-src="{{item.thumbnailUrl}}" class="md-avatar">
			          <div class="md-list-item-text">
			            <h3>{{ item.name }}</h3>
			            <p>{{ item.type }}</p>
			          </div>
			          <i class="material-icons sort-menu-icon myHandle">drag_handle</i>
			        </md-list-item>
		        </md-list>
		    </md-content>

		</md-sidenav>

		<!-- START: COUNT & BUTTONS -->
		<md-toolbar layout="row" class="cards-top-container" layout-align="end center">

			<div flex layout="row" layout-align="start center" layout-padding>
				<div class="message-count" 
					 ng-class="{'show-presentation': MoonshotData.presentation.length >= 1}">
					 	{{ MoonshotData.presentation.length }} selected
				</div>
			</div>

			<div flex layout="row" layout-align="end center" class="cards-button-container">
				<md-button class="md-icon-button" ng-click="resetCollection()">
					<md-icon class="cards-icons">refresh</md-icon>
				</md-button>
				<md-button class="md-icon-button" ng-click="openSort()">
					<md-icon class="cards-icons">menu</md-icon>
				</md-button>
		  		<md-button class="md-icon-button" ng-click="MoonshotData.playCollection()">
		  			<md-icon class="cards-icons">play_arrow</md-icon>
		  		</md-button>
		  	</div>

		</md-toolbar>

		<!-- START: CARDS -->
		<main>

		    <div layout="row" layout-wrap>

				<div flex="33" class="flip-card" ng-repeat="(key, c) in MoonshotData.cards track by key">
				    <div class="flip"> 
				        <div class="card" ng-class="{'flipped':isFlipped}"> 
				            
				            <!-- BEGIN: FRONT CARD -->
				            <div class="face front md-whiteframe-2dp" 
				            	 ng-click="isFlipped=!isFlipped; getFolderItems(c.id, c.name)"> 
				                <div class="card-title">{{ c.name }}</div>
				                <div class="card-img">
									<img ng-src="{{c.thumbnailUrl}}">
				                </div>
				            </div> 

							<!-- BEGIN: BACK CARD -->
				            <div class="face back md-whiteframe-2dp"> 
				                <div layout="row" class="card-title-back">
									
									<div flex="10" class="card-title-back-left">
										<i class="material-icons goto-front-arrow" ng-click="isFlipped=!isFlipped">arrow_back</i>
									</div>
									
									<div flex="80" class="card-title-back-center">
										{{ c.name }}
									</div>

									<div flex="10" class="card-title-back-right">
										<span class="circle-counter">{{MoonshotData.cards[key].itemFolderCounter || 0}}</span>
									</div>

				                </div>

				                <div class="folder-card-item-container">
				                	<div layout="row" class="folder-card-item" 
				                		 ng-repeat="(k, item) in MoonshotData.cards[key].itemsObj track by k" ng-click="item.isItemSelected = !item.isItemSelected; MoonshotData.updateCount(key, item); MoonshotData.pushToPresentation(item); connectLists()"
				                		 ng-class="item.isItemSelected ? 'isActive-card-item' : 'folder-card-item'">
				                		<div flex="10">
				                			<i class="material-icons card-item-icon">{{ item.icon }}</i>
				                		</div>
		
				                		<div flex="80" class="card-item-name text-left">{{item.name}}</div>

				                	</div>
				                </div>
				            </div> 
				        </div> 
				    </div> 
				</div>


		    </div>
		</main>
	</md-content>

