<nav-bar></nav-bar>

<md-sidenav class="md-sidenav-left sort-slides-list" md-component-id="left" md-disable-backdrop md-whiteframe="4">

  	<md-toolbar >
    	<h1 class="md-toolbar-tools background-green">Sort Slides</h1>
  	</md-toolbar>

    <md-content layout-margin>
        <md-list flex ui-sortable="sortList">
	        <md-list-item class="md-2-line myHandle" ng-repeat="item in sortList">
	          <img src="{{item.thumbnailUrl}}" class="md-avatar">
	          <div class="md-list-item-text">
	            <h3>{{ item.name }}</h3>
	            <p>{{ item.type }}</p>
	          </div>
	          <i class="material-icons sort-menu-icon">drag_handle</i>
	        </md-list-item>
        </md-list>
    </md-content>

</md-sidenav>

<!-- START: COUNT & BUTTONS -->
<div layout="row" class="cards-top-container">

	<div layout="row" flex="60" layout-align="start center" layout-padding>
		<div class="message-count" 
			 ng-class="{'show-presentation': MoonshotData.presentation.length >= 1}">
			 	{{ MoonshotData.presentation.length }} item(s) selected
		</div>
	</div>

	<div layout="row" flex="40" layout-align="end center" class="cards-button-container">
		<md-button class="md-raised" ng-click="MoonshotData.resetCollection()">
			<ng-md-icon icon="refresh"></ng-md-icon>
			Reset
		</md-button>
		<md-button class="md-raised" ng-click="openSort()">
			<ng-md-icon icon="menu"></ng-md-icon>
			Sort
		</md-button>
  		<md-button class="md-raised" ng-click="MoonshotData.playCollection()">
  			<ng-md-icon icon="play_arrow"></ng-md-icon>
  			Play
  		</md-button>
  	</div>

</div>

<!-- START: CARDS -->
<main>

    <div class="row">

		<div class="col-sm-4 flip-card" ng-repeat="(key, c) in MoonshotData.cards track by key">
		    <div class="flip"> 
		        <div class="card" ng-class="{'flipped':isFlipped}"> 
		            
		            <!-- BEGIN: FRONT CARD -->
		            <div class="face front md-whiteframe-2dp" ng-click="isFlipped=!isFlipped; getFolderItems(c.id, c.name)"> 
		                <div class="card-title">{{ c.name }}</div>
		                <div class="card-img">
							<img ng-src="{{c.thumbnailUrl}}">
		                </div>
		            </div> 

					<!-- BEGIN: BACK CARD -->
		            <div class="face back md-whiteframe-2dp"> 
		                <div class="row card-title-back">
							
							<div class="col-xs-2 card-title-back-left">
								<i class="material-icons goto-front-arrow" ng-click="isFlipped=!isFlipped">arrow_back</i>
							</div>
							
							<div class="col-xs-8 card-title-back-center">
								{{ c.name }}
							</div>

							<div class="col-xs-2 card-title-back-right">
								<span class="circle-counter">{{MoonshotData.cards[key].itemFolderCounter || 0}}</span>
							</div>

		                </div>

		                <div class="folder-card-item-container">
		                	<div class="row folder-card-item" 
		                		 ng-repeat="(k, item) in MoonshotData.cards[key].itemsObj track by k" ng-click="item.isItemSelected = !item.isItemSelected; MoonshotData.updateCount(key, item); MoonshotData.pushToPresentation(item)">
		                		<div class="col-xs-2">
		                			<i class="material-icons">{{ item.icon }}</i>
		                		</div>
		                		<div class="col-xs-8">
		                			<div class="card-item-name text-left">{{item.name}}</div>
		                		</div>

		                		<div class="col-xs-2">
									<span class="fa fa-circle" 
										  ng-class="item.isItemSelected ? 'fa fa-check-circle check-circle' : 'fa fa-circle'"></span>
		                		</div>
		                	</div>
		                </div>
		            </div> 
		        </div> 
		    </div> 
		</div>


    </div>
</main>
