
<md-card class="margin-left-fix md-whiteframe-7dp">
	<img ng-src="{{card.thumbnailUrl}}" class="md-card-image">
		<div layout="row" class="timeline-recommended-title-container">
	    	<span flex-offset="5" flex="90" class="md-headline timeline-item-name">{{card.name}}</span>
	        <md-button class="md-icon-button" aria-label="More Vertical">
	          <md-menu class="hierarchy-item-icon">
	        		<i class="material-icons" ng-click="$mdOpenMenu($event)">more_vert</i>
			        <md-menu-content width="2">
		            	<md-menu-item>
			              	<md-button ng-click="openCollectionModal(card, $event)">
			                	<ng-md-icon icon="view_list"></ng-md-icon>
			                	Add
			                </md-button>
		                </md-menu-item>
		            	<md-menu-item>
			              	<md-button ng-click="openShareModal(card, $event)">
			                	<ng-md-icon icon="share"></ng-md-icon>
			                	Share
			                </md-button>
		                </md-menu-item>
		          	</md-menu-content>
	        	</md-menu>
	        </md-button>
	    </div>
	<md-card-title class="timeline-recommended-card-title">
		<md-card-title-text>
	    	<div class="md-subhead timeline-subhead-item">Created on {{card.created | date: 'shortDate'}}</div>
	    	<div class="md-subhead timeline-subhead-item uppercase">{{card.type}}</div>
	    </md-card-title-text>
	    
	</md-card-title>
	<md-card-actions layout="row" layout-align="start center">
	  <md-button class="timeline-recommended-button" ng-click="goToFilterItem(card)">View Item</md-button>
	</md-card-actions>
</md-card>
