<md-dialog flex="50">
	<md-dialog-content>
	
		<md-toolbar class="background-green">
	      <div class="md-toolbar-tools">
	        <h2>End of Presentation</h2>
	        <span flex></span>
	      </div>
	    </md-toolbar>

		<section layout="row" layout-padding layout-align="center center">

			<md-button flex="50" class="md-raised" ng-click="restart()">Restart</md-button>
			<md-button flex="50" class="md-raised" ng-click="exit()">Exit</md-button>

		</section>

	</md-dialog-content>
</md-dialog>