<nav-bar sticky></nav-bar>

<!-- Timeline -->
<main layout="row" layout-padding>
	<!-- Main Column -->
  	<section flex="70" layout="column">

		<!-- START: CARDS -->
  		<div layout="row">
  			

  		 	<md-card flex="50" class="timeline-cards-top-container md-whiteframe-7dp">
		        <md-card-title>
		          <md-card-title-text>
		            <span class="md-headline">Cards</span>
		            <span class="md-subhead">Build a presentation.</span>
		          </md-card-title-text>
		          <md-card-title-media>
		            <div class="md-media-sm card-media">
		            	<i flex class="fa fa-list-alt timeline-card-icon"></i>
		            </div>
		          </md-card-title-media>
		        </md-card-title>
		        <md-card-actions layout="row">
		          <md-button class="timeline-recommended-button" ng-click="goToCards()">Build Presentation</md-button>
		        </md-card-actions>
		    </md-card>  			

  		 	<md-card flex="50" class="timeline-cards-top-container md-whiteframe-7dp">
		        <md-card-title>
		          <md-card-title-text>
		            <span class="md-headline">Collections</span>
		            <span class="md-subhead">View all your saved collections.</span>
		          </md-card-title-text>
		          <md-card-title-media>
		            <div class="md-media-sm card-media">
		            	<i flex class="fa fa-list timeline-card-icon"></i>
		            	<!-- <ng-md-icon icon="view_list" size="80" style="fill: #9fbe3c"></ng-md-icon> -->
		            </div>
		          </md-card-title-media>
		        </md-card-title>
		        <md-card-actions layout="row">
		          <md-button class="timeline-recommended-button" ui-sref="collections">View Collections</md-button>
		        </md-card-actions>
		    </md-card>
		    
  		</div>

		<!-- START: FOLDERS -->
		<div> 

			<div layout="row" class="margin-top-10 margin-bottom-5">
				<span flex="95" class="timeline-card-title margin-left-8">Folders</span>
				<i flex class="material-icons timeline-folder-card-arrow" ui-sref="hierarchy">arrow_forward</i>
			</div>

			<div layout="row">
				 <md-card class="timeline-folder-container md-whiteframe-7dp" flex="25" ng-repeat="folder in folders | limitTo:4">
			       	<div class="md-card-image-container">
			        	<img ng-src="{{folder.thumbnailUrl}}" class="md-card-image">
			       	</div>

			        <md-card-title>
			          <md-card-title-text class="timeline-folder-name-container">
			            <span class="md-headline timeline-folder-name">{{folder.name}}</span>
			          </md-card-title-text>
			        </md-card-title>
			        <md-card-actions layout="column" layout-align="start">
			          <md-button class="timeline-recommended-button" ng-click="goToFolderDetails(folder.id)">Open Folder</md-button>
			        </md-card-actions>

			    </md-card>
			</div>

  		</div>

		<!-- START: RECOMMENDED CONTENT -->
		<div> 
				
			<div layout="row" class="margin-top-10 margin-bottom-5">
				<span class="timeline-card-title margin-left-8 margin-top-10">Recommended for You</span>
			</div>

  		 	<div layout="row">
  		 	<md-card class="md-whiteframe-7dp" flex="25" layout-wrap ng-repeat="item in suggestions | limitTo:4">
		        <img ng-src="{{item.thumbnailUrl}}" class="md-card-image">
		        	<div layout="row" class="timeline-recommended-title-container">
		            	<span flex-offset="5" flex="90" class="md-headline timeline-item-name">{{item.name}}</span>
			            <md-button class="md-icon-button" aria-label="More Vertical">
			              <md-menu class="hierarchy-item-icon">
				        		<i class="material-icons" ng-click="$mdOpenMenu($event)">more_vert</i>
						        <md-menu-content width="2">
					            	<md-menu-item>
						              	<md-button ng-click="openCollectionModal(item, $event)">
						                	<ng-md-icon icon="view_list"></ng-md-icon>
						                	Add
						                </md-button>
					                </md-menu-item>
					            	<md-menu-item>
						              	<md-button ng-click="openShareModal(item, $event)">
						                	<ng-md-icon icon="share"></ng-md-icon>
						                	Share
						                </md-button>
					                </md-menu-item>
					          	</md-menu-content>
				        	</md-menu>
			            </md-button>
			        </div>
		        <md-card-title class="timeline-recommended-card-title">
		        	<md-card-title-text>
		            	<!-- <div class="md-subhead timeline-subhead-item">Created on {{item.created | date: 'shortDate'}}</div> -->
		            	<div class="md-subhead timeline-subhead-item uppercase">{{item.type}}</div>
		            </md-card-title-text>
		            
		        </md-card-title>
		        <md-card-actions layout="row" layout-align="start center">
		          <md-button class="timeline-recommended-button">View Item</md-button>
		        </md-card-actions>
		      </md-card>
			</div>
  		</div>

		<!-- START: CUSTOM CARDS -->
  		<div layout-margin ng-show="showFilterSearch" ng-repeat="filteredResult in filteredResults"> 

			<div layout="row">
				<span flex="95" class="timeline-card-title">Filtered Search for '{{ filterKeyword }}' and '{{ filterType }}'</span>
				<i flex class="material-icons timeline-folder-card-arrow" ng-click="deleteFilterCard()">delete</i>
			</div>

			<!-- FILTERED CARDS -->
  		 	<div layout="row">

  		 		<filter-card flex="25" layout-wrap ng-repeat="item in results | limitTo:4" card="item"></filter-card>
  		 		
			</div>

  		</div>
  	</section>


	<!-- RIGHT SIDE -->
  	<section flex="30" layout="column">

  		<!-- START: USER INFO -->
		<div>
			<user-card></user-card>
  		</div>


		<!-- START: WEATHER -->
		<div class="margin-top-10"> 

			<span class="timeline-card-title margin-left-8">{{ currentLocation }}</span>

  		 	<weather-card></weather-card>

  		</div>


		<span class="timeline-card-title margin-left-8 margin-top-10">Upload to My Items</span>

			<md-card class="timeline-cards-upload-myitems-container md-whiteframe-7dp">
	        <md-card-content layout="row" 
	        				 layout-align="center center" 
	        				 class="drop-zone" 
	        				 layout-margin 
	        				 ngf-drop="upload($file)" 
	        				 ngf-select="upload($file)" 
							 ngf-drag-over-class="'dragover'" 
							 ngf-multiple="true" 
							 ngf-allow-dir="true">
	        	<div><i class="material-icons">cloud_upload</i></div>
	        	<span class="my-items-drop-zone-text">My Items</span>
	        </md-card-content>
	    </md-card>



		<!-- FILTERED SEARCH BUTTON -->
		<!-- MIGHT USE THIS FOR V.2.1 -->
<!--   		<div> 
  			<span class="timeline-card-title margin-left-8">Filtered Search</span>
  			<div layout="row">
				<md-button class="md-raised timeline-filter-button" ng-click="openFilterDialog()">Create</md-button>
			</div>
  		</div> -->

  	</section>
</main>