<nav-bar></nav-bar>

<main id="collections-container">

	<pageslide ps-side="left" 
			   ps-open="openMenu" 
			   ps-container="collections-container" 
			   ps-body-class="true">
        
        <div class="flyout-menu-container">
            
            <a class="menu-item" ui-sref="collections">
            	<div class="flyout-menu-item">
            		<span>Collections</span>
            	</div>
            </a>

            <a class="menu-item" ui-sref="collections">
	            <div class="flyout-menu-item" ng-click="quitMoonshot()">
	            	<span>Quit Moonshot</span>
	            </div>
	        </a>
	        
        </div>

    </pageslide>

	<div class="top-main-container">
	    <div class="col-xs-6 back-button">
			<span class="fa fa-arrow-circle-o-left fa-2x" ng-click="goToCards()"></span> 
			<span class="back-button-label" ng-click="goToCards()">Home</span>
		</div>
		<div class="col-xs-6">
			<button class="btn pull-right btn-new-collection" ng-click="createNewCollection()">New Collection</button>	
		</div>
	</div>

	<div class="collections-table-container">
		<div class="col-xs-12">

			<table class="table selected-collection-table">
				<thead>
					<tr>
						<th class="col-xs-11">Collection</th>
						<th class="col-xs-1">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in collections | orderBy: 'name'">
						<td class="collection-table-details">
							<a ui-sref="detail({ id: item.id, name: item.name, created:item.created, modified:item.modified })">
								<span class="search-results-table-item-name">{{item.name}}</span>
							</a>
						</td>
						<td class="collection-table-details">
							<div class="search-results-table-date-added">
								<span class="fa fa-trash" ng-click="deleteCollection(item.id)"></span>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

</main>