<md-dialog flex="50">

	<md-dialog-content>

		<md-toolbar class="background-green">
	      <div class="md-toolbar-tools">
	        <h2>New Collection</h2>
	        <span flex></span>
	      </div>
	    </md-toolbar>

	    <div layout="row" layout-margin>
	    	<md-input-container md-no-float class="md-block" flex-gt-sm>
	            <input ng-model="collectionName" placeholder="Collection Name">
	        </md-input-container>
	    </div>	

	    <md-divider></md-divider>

		<md-dialog-actions layout="row">
			<md-button ng-click="createCollection(collectionName)">Create</md-button>
			<md-button ng-click="closeDialog()">Cancel</md-button>
		</md-dialog-actions>

	</md-dialog-content>

</md-dialog>