<nav-bar></nav-bar>

<md-toolbar class="background-green padding-top-10">
	<div layout="row" flex>
		<div flex="5"></div>
		<md-input-container flex="60" md-no-float class="md-block md-icon-float" flex-gt-sm>
            <input ng-model="searchTerm" placeholder="Search">
    	</md-input-container>
        <md-button class="md-fab md-mini" aria-label="Search">
        	<ng-md-icon icon="search" class="search-icon" ng-click="getSearch(searchTerm)"></ng-md-icon>
    	</md-button>
	</div>
    <div layout="row" ng-show="isSearchTrue">
    	<div flex="5"></div>
    	<md-nav-bar flex="70" md-selected-nav-item="currentNavItem" nav-bar-aria-label="Search Filters">
  			<md-nav-item md-nav-click="getItems()" md-no-ink name="items">Items</md-nav-item>
 			<md-nav-item md-nav-click="getFolders()" md-no-ink name="folders">Folders</md-nav-item>
		</md-nav-bar>
		<div flex layout="row" layout-align="end end" class="search-result-message">{{results.length}} results</div>
    </div>	

</md-toolbar>

	<section layout="row" layout-padding>
		<div flex="5"></div>
		<div flex="50">
			<md-chips>
		      <md-chip ng-repeat="chip in results | unique:'type'">{{chip.type}}</md-chip>
		    </md-chips>	
		
			<md-content>
				<md-list-item class="md-3-line" ng-repeat="item in results" ng-click="null">
	          		<span class="fa {{item.icon}} fa-2x md-avatar"></span>
		          	<div class="md-list-item-text" layout="column">
		            	<h3>{{ item.name }}</h3>
		            	<h4><span class="selected-item-location-path" ng-repeat="item in selectedResult.hierarchy"><u ng-click="goToPath(item)">{{ item.name }}</u> {{$last ? '' : ' / '}} </span></h4>
		            	<p>{{item.created | date:'shortDate'}}</p>
		          </div>
		        </md-list-item>
			</md-content>
		</div>
		<div flex="5"></div>
		<md-content layout="column" flex="35">
			<md-card>
		        <img src="https://www.lonelyplanet.com/travel-blog/tip-article/wordpress_uploads/2015/05/Ksamil-beach-Albania_cs.jpg" class="md-card-image" alt="Washed Out">
		        <md-card-title>
		          <md-card-title-text>
		            <span class="md-headline">Action buttons</span>
		          </md-card-title-text>
		        </md-card-title>
		        <md-card-content>
		          <p>
		            The titles of Washed Out's breakthrough.
		          </p>
		        </md-card-content>
		        <md-card-actions layout="row" layout-align="end center">
		          <md-button>Email</md-button>
		          <md-button>Add to Collection</md-button>
		        </md-card-actions>
		    </md-card>
		</md-content>
		<div flex></div>
	</section>

	<div class="row search-results-blank" ng-if="noSearchResults">
		<div class="col-xs-12 alert alert-warning no-results-message">
			<h4>There are no results matching "{{ term }}".</h4>
			<span>Please refine your search terms and try again.</span>
		</div>
	</div>