<top-toolbar></top-toolbar>

<section layout="row" flex layout-fill>

	<sidebar-menu></sidebar-menu>

	<md-content flex layout="column">		

		<!-- START: TABS -->
		<section layout="row" ng-show="isSearchTrue" class="search-tabs-wrapper">
			<md-tabs flex md-border-bottom class="search-tabs">
		      <md-tab label="Items">
		      	<item-tab></item-tab>
		      </md-tab>
		      <md-tab label="Folders">
		        <folder-tab></folder-tab>
		      </md-tab>
		    </md-tabs>
		</section>

		<!-- START: SPINNER -->
		<div layout="row" 
			 layout-sm="column" 
			 layout-align="space-around" 
			 class="loading-spinner" 
			 ng-show="showSpinner">
		  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
		</div>

		<section layout="row" layout-padding>

		    <md-grid-list md-cols="1"
		    			  md-cols-sm="2" 
		    			  md-cols-md="4" 
		    			  md-cols-gt-md="6" 
		    			  md-row-height="4:3"
		        		  md-gutter="8px" 
		        		  ng-show="showGrid"
		        		  layout="row"
		        		  flex="95">

			    <md-grid-tile ng-repeat="tile in results"
			                  md-rowspan="1"
			                  md-colspan="1"
			                  md-colspan-sm="1"
			                  md-colspan-xs="1">
					
				       	<img ng-src="{{ tile.thumbnailUrl }}">

			        
			        <md-grid-tile-footer>
			      	  
			      	  	<md-menu>
				          	
				            <h3 ng-click="$mdOpenMenu($event)">{{tile.name}}</h3>
				          	
				          	<md-menu-content width="2">
				            	<md-menu-item>
					              	<md-button ng-click="openCollectionModal(tile, $event)">
					                	<ng-md-icon icon="view_list"></ng-md-icon>
					                	Add
					                </md-button>
				                </md-menu-item>
				            	<md-menu-item>
					              	<md-button ng-click="openShareModal(tile, $event)">
					                	<ng-md-icon icon="share"></ng-md-icon>
					                	Share
					                </md-button>
				                </md-menu-item>
				            	<md-menu-item>
					              	<md-button ng-click="goToPath(tile)">
					                	<ng-md-icon icon="open_in_new"></ng-md-icon>
					                	Open
					                </md-button>
				                </md-menu-item>
				          	</md-menu-content>
			        	</md-menu>

			      	</md-grid-tile-footer>
			    </md-grid-tile>
			</md-grid-list>

			<div flex></div>
			
		</section>

			<div layout="row" layout-align="center center" ng-if="noSearchResults">
				<md-card flex="40" class="md-whiteframe-2dp">
			        <img ng-src="common/img/michael-scott.gif" alt="Crying Jordan">
			        <md-card-title>
			          <md-card-title-text>
			            <span class="md-headline">No Results Found</span>
			          </md-card-title-text>
			        </md-card-title>
			        <md-card-content>
			          <p>
			            There are no results matching "{{ term }}". Please refine your search term and make Michael Scott happy again.
			          </p>
			        </md-card-content>
		      	</md-card>
		<!-- 		<div class="alert alert-warning no-results-message md-whiteframe-2dp">
					<h4>There are no results matching "{{ term }}".</h4>
					<span>Please refine your search terms and try again.</span>
				</div> -->
			</div>
	</md-content>

</section>
