<nav-bar></nav-bar>

<main id="search-container">
	
	<pageslide ps-side="left" 
			   ps-open="openMenu" 
			   ps-container="search-container" 
			   ps-body-class="true">
        
        <div class="flyout-menu-container">
            <a class="menu-item" ui-sref="collections">
            	<div class="flyout-menu-item">
            		<span>Collections</span>
            	</div>
            </a>
            <a class="menu-item" ui-sref="collections">
	            <div class="flyout-menu-item" ng-click="quitMoonshot()">
	            	<span>Quit Moonshot</span>
	            </div>
	        </a>
        </div>

    </pageslide>

	<div class="back-button" ng-click="goToCards()">
		<span class="fa fa-arrow-circle-o-left fa-2x"></span> 
		<span class="back-button-label" ng-click="goToCards()">Search</span>
	</div>

	<form class="form-horizontal search-input-container">
		<div class="form-group">
			<div class="col-xs-6">
				<div class="input-group">
					<input type="text" 
						   ng-model="searchTerm"
						   class="form-control search-input" 
						   placeholder="Search"
						   >
					<span class="input-group-btn">
						<button class="btn search-btn" ng-click="getSearch(searchTerm)">
							<span class="fa fa-search"></span>
						</button>
					</span>
				</div>
			</div>
		</div>
	</form>

	<div class="row search-results" ng-show="showSearchResults">
		<div class="col-sm-4">
			<div class="search-results-thumbnail-container">
				<img class="selected-result-thumbnail" ng-src="{{selectedResult.thumbnailUrl}}">
				<div class="selected-result-name">{{selectedResult.name}}</div>
				<div class="selected-item-collection-controls" ng-if="selectedResult.type !== 'folder'">
					
					<div>
						<span class="fa fa-envelope search-item-icon"></span>
						<span class="email-selected-item" 
							  ng-click="openShareModal(selectedResult)">
							  	<u>Email to another user</u>
						</span>
					</div>
					<div class="add-selected-item-to-collection-text">
						<span class="fa fa-list search-item-icon"></span>
						<span ng-click="openCollectionModal(selectedResult)">
							  	<u>Add to Collection</u>
						</span>
					</div>
				</div>
				<div class="selected-item-location">
					<div class="selected-item-location-title">Location:</div>
					<span class="selected-item-location-path" ng-repeat="item in selectedResult.hierarchy"><u ng-click="goToPath(item)">{{ item.name }}</u> {{$last ? '' : ' / '}} </span>
				</div>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="search-results-list">
				<div class="search-result-message">{{results.length}} results for "{{ term }}"</div>
				<table class="table search-results-table">
					<thead>
						<tr>
							<th class="col-xs-4">Item</th>
							<th class="col-xs-2">Date Added</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-class="{'isActiveResult': item.id == toggleSearchResult}" ng-repeat="item in results" ng-click="toggleItem(item)">
							<td>
								<div class="search-results-table-item-icon">
									<span class="fa {{item.icon}}"></span>
									<span class="search-results-table-item-name">{{item.name}}</span>
									<span class="search-results-table-folder-number" ng-if="item.type == 'folder'">({{folderCount}})</span>
								</div>
							</td>
							<td>
								<span class="search-results-table-date-added">{{item.created | date:'shortDate'}}</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="row search-results-blank" ng-if="noSearchResults">
		<div class="col-xs-12 alert alert-warning no-results-message">
			<h4>There are no results matching "{{ term }}".</h4>
			<span>Please refine your search terms and try again.</span>
		</div>
	</div>

</main>