<div class="modal-header">
	<h4>Add to Collection</h4>
</div>

<div class="modal-body">
	<form class="form-horizontal modal-input">
		<div class="form-group form-group-collection-modal">
			<label for="title">Add to a new Collection</label>
			<div class="input-group">
				<input ng-model="collectionName" 
					   type="text" 
					   class="form-control input-collection-title" 
					   placeholder="Enter a title">
				<span class="input-group-btn">
					<button class="btn btn-default btn-collection-title" ng-click="createCollection(collectionName)">Add</button>
				</span>
			</div>
		</div>
	</form>

	<div ng-show="pageError">
		<div class="alert alert-warning page-error-warning" role="alert">
			<span class="fa fa-warning fa-2x">
			<span class="page-error-warning-label">Please provide collection name</span>
		</div>
	</div>


	<div ng-if="collections.length">
		<label>Or add to an existing collection:</label>

		<ul class="list-unstyled">
			<li ng-repeat="collection in collections">
				<a ng-click="addItemToCollection(collection)">{{collection.name}}</a>
			</li>
		</ul>
	</div>

</div>

<div class="modal-footer">
	<button class="btn" ng-click="cancelClick()">Cancel</button>
</div>