<md-dialog flex="50">
	<md-dialog-content>
	
		<md-toolbar class="background-green">
	      <div class="md-toolbar-tools">
	        <h2>Add to Collection</h2>
	        <span flex></span>
	      </div>
	    </md-toolbar>

		<section layout="row" layout-padding>
			<div flex="5"></div>
          	<md-select ng-model="c" placeholder="Choose a collection" flex="95">
            	<md-option ng-repeat="c in collections track by $index" ng-value="c">{{c.name}}</md-option>
          	</md-select>
		</section>

		<section layout="row">
			<div flex="5"></div>
			<div flex="95">
				<label>Or create a new collection:</label>

			    <md-input-container layout="row" flex="95" md-no-float class="md-block">
			      <input ng-model="collectionName" type="text" placeholder="Collection name">
			    </md-input-container>
			</div>
		</section>

		<md-divider></md-divider>

		<md-dialog-actions layout="row">
			<md-button ng-click="createCollection(c, collectionName)">Add</md-button>
			<md-button ng-click="closeDialog()">Cancel</md-button>
		</md-dialog-actions>

	</md-dialog-content>
</md-dialog>