<nav-bar></nav-bar>

<main id="collections-container">

	<pageslide ps-side="left" 
			   ps-open="openMenu" 
			   ps-container="collections-container" 
			   ps-body-class="true">
        
        <div class="flyout-menu-container">
            <a class="menu-item" ui-sref="collections">
            	<div class="flyout-menu-item">
            		<span>Collections</span>
            	</div>
            </a>
            <a class="menu-item" ui-sref="collections">
	            <div class="flyout-menu-item" ng-click="quitMoonshot()">
	            	<span>Quit Moonshot</span>
	            </div>
	        </a>
        </div>

    </pageslide>

		<div class="back-button" ng-click="goToCollectionList()">
			<span class="fa fa-arrow-circle-o-left fa-2x"></span> 
			<span class="back-button-label">Collections</span>
		</div>


		<div class="featured-collection-container">
			<span class="fa fa-list collection-icon"></span><span class="collection-name">{{collectionName}}</span>

			<form name="outerForm" class="tab-form-demo">
			    <uib-tabset active="activeForm">
			      <uib-tab index="0" heading="Items ({{selectedCollection.length}})">
			       	<div class="row">

						<div class="col-sm-12">

							<div class="alert alert-info alert-no-items" role="alert" ng-if="selectedCollection.length == 0">Your collection is empty. While using the Search Tool, you can add items to your collection by clicking 'Add to Collection'.</div>

							<table class="table selected-collection-table" ng-if="selectedCollection.length >= 1">
								<thead>
									<tr>
										<th class="col-xs-10">Title</th>
										<th class="col-xs-2">Actions</th>
									</tr>
								</thead>
								<tbody ui-sortable="sortableOptions" ng-model="selectedCollection">
									<tr ng-repeat="item in selectedCollection">
										<td class="table-row-collection-item">

											<div class="search-results-table-item-thumbnail">
												<img ng-src="{{item.thumbnailUrl}}">
											</div>

											<span class="search-results-table-item-name">{{item.name}}</span>
											<div class="selected-collection-hierarchy">
												<span class="" ng-repeat="i in item.hierarchy">
													<a ng-click="goToPath(i)">{{ i.name }}</a> {{$last ? '' : ' / '}} 
												</span>
											</div>
						
										</td>
										<td class="table-row-collection-item">
											<div class="selected-collection-table-actions" ng-click="removeItemFromCollection(item.id)">
												<span class="fa fa-times"></span>
												<div class="remove-item-from-collection">Remove</div>
											</div>
											<div class="selected-collection-table-actions myHandle">
												<span class="fa fa-arrows-v arrows-v myHandle"></span> Re-order
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

					</div> <!-- End of Table Row -->
			      </uib-tab>
			      <uib-tab index="1" heading="Edit">
			      	<div class="row collection-details-editing-container">
			      		<div class="col-md-6">
					 
					        <ng-form name="nestedForm">
					          <div class="collection-date">
					          	<span>Created on: {{ collectionCreated | date: 'medium'}}</span>
					          </div>
					          <div class="collection-date">
					          	<span>Last modified: {{ collectionModified | date: 'medium'}}</span>
					          </div>
					        </ng-form>
			      			
			      		</div>
			      	</div>
		      		<div class="row collection-edit-actions">
		      			<div class="col-md-6">
		      				<button class="btn" ng-click="deleteClick()">Delete Collection</button>
		      			</div>
		      		</div>
			      </uib-tab>
			      <uib-tab index="2" heading="Play">
			      	<div class="content-flat">
			      		<button class="btn" ng-click="playCollection()">Play Collection</button>
			      		<div class="alert alert-info play-alert-info">
							Play your collection as a presentation in front of prospects and customers inside Moonshot 2.0. 
						</div>
			      	</div>
			      </uib-tab>
			    </uib-tabset>
			</form>
		</div>

	

</main>