<top-toolbar></top-toolbar>

<section layout="row" flex layout-fill>
	
	<sidebar-menu></sidebar-menu>

	<md-content flex layout="column" class="main-content-container">
		<md-tabs md-dynamic-height md-border-bottom>
		  <!-- START: ABOUT TAB -->
		  <md-tab label="About">
		    <md-content layout-padding>
		      <h3>Moonshot</h3>
		      <div>v. {{ version }}</div>
		      <span>Developed by Scott Sanford</span>
		    </md-content>
		  </md-tab>
		</md-tabs>
		<!-- END: ABOUT TAB -->
	</md-content>

</section>


