
<section layout="column" layout-align="space-between stretch" class="presentation-container">


	<main id="slide-menu-container" style="background-image: url('{{ slide }}'); background-position: center; background-size:contain; background-repeat: no-repeat; display: inline-block; height:100%;">

			<!-- BEGIN: SING-PAGE DOCUMENT -->
			<!-- <img flex class="slide-item" 
				 src="{{ slide }}"
				 ng-swipe-left="nextSlide()" 
				 ng-swipe-right="previousSlide()"
				 ng-show="isImage"> -->
				 
			<!-- height:100%; width:100% -->
			<!-- <iframe flex class="interactive-frame slide-item" marginheight="50" ng-show="isInteractive"></iframe> -->

	</main>

</section>

<!-- header and footers -->
<p-header slide="slides" current="slideIndex"></p-header>

<md-toolbar class="" style="position: fixed">
	<div class="md-toolbar-tools background-presentation-footer" layout="row">
	  <span flex="25"></span>
	  <div flex="50" layout="row">
	  	<span flex="30"></span>
	  	<md-button flex="20" class="md-raised" ng-click="previousSlide()" ng-show="isItemMultiPage">Previous Page</md-button>
	  	<md-button flex="20" class="md-raised" ng-click="previousSlide()">Previous</md-button>
	  	<md-button flex="20" class="md-raised" ng-click="nextSlide()" ng-show="isItemMultiPage">Next Page</md-button>
	  	<md-button flex="20" class="md-raised" ng-click="nextSlide()">Next</md-button>
	  	<span flex="30"></span>
	  </div>
	  <span flex="25"></span>
	</div>
</md-toolbar>