<div class="flexbox">
	
	<presentation-header slide="slides" current="slideIndex"></presentation-header>

	<main class="presentation-container" id="slide-menu-container">

			<!-- BEGIN: SING-PAGE DOCUMENT -->
			<img class="slide-item fill-area-content" 
				 src="{{ slide }}"
				 ng-swipe-left="nextSlide()" 
				 ng-swipe-right="previousSlide()">


		<pageslide ps-side="left" 
			   ps-open="openMenu" 
			   ps-container="slide-menu-container" 
			   ps-body-class="true">
        
	        <div class="flyout-menu-container">
	            
	            <a class="menu-item" ui-sref="collections">
	            	<div class="flyout-menu-item">
	            		<span>Collections</span>
	            	</div>
	            </a>

	            <a class="menu-item" ui-sref="collections">
		            <div class="flyout-menu-item" ng-click="quitMoonshot()">
		            	<span>Quit Moonshot</span>
		            </div>
		        </a>
		        
	        </div>

	    </pageslide>

	</main>

	<presentation-footer slide="slides" current="slideIndex"></presentation-footer>
	
</div>
