<md-toolbar class="md-whiteframe-5dp">
    <div class="md-toolbar-tools background-presentation-header">
    
      <md-button class="md-raised view-presentation-btn" 
                 ng-click="openPresMenu()">
          <ng-md-icon icon="featured_play_list"></ng-md-icon>
          <span>&nbsp;Show List</span>
      </md-button>

  <!--     <div ng-repeat="s in slide">
        <span ng-if="current === $index">{{ s.name }}</span>
      </div>
 -->
      <span flex></span>

      <md-menu>
        <md-icon flex class="main-toolbar-icons dashboard-hierarchy-footer-icon" ng-click="$mdOpenMenu($event)">more_vert</md-icon>

                    <!-- ITEM MENU -->
        <md-menu-content width="4">
            <md-menu-item>
                <md-button ng-click="createNewCollection()">
                  <md-icon>playlist_add</md-icon>
                  New Collection
                </md-button>
              </md-menu-item>
            <md-menu-item>
                <md-button ui-sref="present">
                  <md-icon>exit_to_app</md-icon>
                  Exit the Presentation
                </md-button>
              </md-menu-item>
          </md-menu-content>
      </md-menu>


    </div>
</md-toolbar>

<!-- START: MAIN SECTION -->
<section layout="row" style="height:100%">

	<md-sidenav md-component-id="left" 
                md-is-locked-open="isSideNavOpen" 
                class="md-sidenav-left md-whiteframe-2dp presentation-items-sidenav">
	  
	  	<div>
	  		<div layout-padding>
	  			<div class="presentation-items-title">
	  				<b>Items:</b> {{slides.length}}
	  			</div>
	  		</div>
	  		<md-divider class="items-divider"></md-divider>
	  		<div ng-repeat="slide in slides" class="presentation-item" ng-class="{ 'isPresentationItemActive' : slide.id === itemId }">
	  			<img ng-src="{{slide.thumbnailUrl}}">
	        	<p class="presentation-item-text">{{slide.name}}</p>
	  		</div>
	  	</div>

	</md-sidenav>

	<md-content class="presentation-area-content" flex layout="column" layout-align="center stretch">
		<div flex>
			<main id="slide-menu-container" style="background-image: url('{{ slide }}'); background-position: center; background-size:contain; background-repeat: no-repeat; height:100%;">

		</main>
		</div>
	</md-content>

</section>


<!-- START: FOOTER -->
<md-toolbar>
	<div class="md-toolbar-tools background-presentation-footer">
	  <span flex="25"></span>
	  <div flex="50" layout="row">
	  	<span flex="30"></span>
	  	<md-button flex="20" class="md-raised" ng-click="previousSlide()" ng-show="isItemMultiPage">Previous Page</md-button>
	  	<md-button flex="20" class="md-raised" ng-click="previousSlide()">Previous</md-button>
	  	<md-button flex="20" class="md-raised" ng-click="nextSlide()" ng-show="isItemMultiPage">Next Page</md-button>
	  	<md-button flex="20" class="md-raised" ng-click="nextSlide()">Next</md-button>
	  	<span flex="30"></span>
	  </div>
	  <span flex="25"></span>
	</div>
</md-toolbar>