<div class="presentation-header-container">
	<nav class="row cards-header">
		<div class="col-xs-4">
			<span class="fa fa-bars fa-2x hamburger-menu-icon" ng-click="toggle()"></span>
			<div class="btn-group" uib-dropdown is-open="status.isopen">
			      <button type="button" class="btn btn-presentation" uib-dropdown-toggle ng-disabled="disabled">{{ current + 1 }} of {{slide.length}} <span class="caret"></span>
			      </button>
			      <ul class="dropdown-menu dropdown-menu-slides" uib-dropdown-menu role="menu">
			        <li role="menuitem" ng-repeat="s in slide">
			        	<a ng-click="getCurrentSlide($index, s.id)">
			        		<span class="fa fa-check" ng-if="current == $index"></span>
			        		<span class="fa {{s.icon}}" ng-if="current !== $index"></span> {{s.name}}
			        	</a>
			        </li>
			      </ul>
			</div>
		</div>
		<div class="col-xs-4">
			<img class="img-responsive center-block header-logo" src="common/img/moonshot-logo.png">
		</div>
		<div class="col-xs-4">
			<ul class="nav navbar-nav navbar-right presentation-header-icons">
		      <li><a href="#"><span class="fa fa-list"></span></a></li>
		      <li><a ui-sref="cards"><span class="fa fa-times"></span></a></li> 
		    </ul>
		</div>
	</nav>
</div>